{% extends 'base.html.twig' %}

{% block body %}
    <h1>HubService list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hubService in hubServices %}
            <tr>
                <td><a href="{{ path('hubservice_show', { 'id': hubService.id }) }}">{{ hubService.id }}</a></td>
                <td>{{ hubService.name }}</td>
                <td>{{ hubService.url }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('hubservice_show', { 'id': hubService.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('hubservice_edit', { 'id': hubService.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hubservice_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
